<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <title>Nava - Live Coding</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>NAVA | Cadastro de Contatos</h1>
            <nav>
                <ul>
                    <li><a href="/index.html">Lista de Contatos</a></li>
                    <li><a href="/novo.html">Cadastrar Novo</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="lista-contatos-wrapper">
                <h1>Lista de Contatos</h1>

                <table>
                    <tr>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Telefone</th>
                    </tr>
                    <tr>
                        <td>João Souza</td>
                        <td>25</td>
                        <td>(11) 95555-2133</td>
                    </tr>
                    <tr>
                        <td>Ana Silva</td>
                        <td>32</td>
                        <td>(11) 92524-2132</td>
                    </tr>
                </table>
            </div>
        </main>
        <footer>
            Cadastro de contatos by Ari
        </footer>
    </div>
</body>

</html>