<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <title>Nava - Live Coding - Cadastrar novo contato</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>NAVA | Cadastro de Contatos</h1>
            <nav>
                <ul>
                    <li><a href="/index.html">Lista de Contatos</a></li>
                    <li><a href="/novo.html">Cadastrar Novo</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="cadastrar-contato-wrapper">
                <h1>Cadastrar novo Contato</h1>

                <form>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" />
                    <label for="idade">Idade</label>
                    <input type="number" name="idade" id="idade" />
                    <label for="telefone">Telefone</label>
                    <input type="text" name="telefone" id="telefone" />

                    <div class="buttons">
                        <button type="submit">Salvar</button>
                        <button type="button">Cancelar</button>
                    </div>
                </form>
            </div>
        </main>
        <footer>
            Cadastro de contatos by Ari
        </footer>
    </div>
</body>

</html>